/bin/
/keybinds.cfg
/curs.png
/Project Freedom.iml
.idea/.name
.idea/libraries/
.idea/misc.xml
.idea/workspace.xml
/colors.scheme.xml
/debugger.xml
/github_settings.xml
/ide.general.xml
/ignore.xml
/ui.lnf.xml
/vcs.xml
/.gitignore
/_linux/
/.settings/
/.idea/
/codestyles/
